<div class="event__time"> {{arrivalTime}} </div>
<div class="event__marker"></div>
<div class="event__event-details">
  <p>{{bd-route-tag route=route}} {{arrival.headsign}} </p>
  <div class="event-details__metadata">
    <span class="metadata__time">
      <i class="bd-icon bd-icon--clock"></i>
      {{timeFromNow}}
    </span>
  </div>
</div>
