<div class="event__time">{{time}}</div>
<div class="event__event-details">
  <div class="event__marker"></div>
  <p>
    {{bd-route-tag route=departure.route}} 
    <span>{{departure.trip.headsign}}</span>
  </p>
  <div class="event-details__metadata">
    <span class="metadata__time">
      <i class="bd-icon bd-icon--clock"></i>
      {{timeFromNow}}
      {{#unless departure.realtime}}(scheduled){{/unless}}
    </span>
  </div>
</div>
