<button class="map__toggle-expanded button qa-toggle-expanded" {{action 'toggleExpanded'}}>
  {{#if isExpanded}}
    <i class="bd-icon bd-icon--contract"></i>
  {{else}}
    <i class="bd-icon bd-icon--expand"></i>
  {{/if}}
</button>
