{{#if showPrevious}}
<a {{action 'previousPage'}} href="#" class='button button--previous'>
  <i class="fa fa-step-backward"></i>
</a>
{{/if}}
{{#if showNext}}
<a {{action 'nextPage'}} href="#" class='button button--next'>
  <i class="fa fa-step-forward"></i>
</a>
{{/if}}
