{{#link-to 'stop' stop class="unstyled list-item__container"}}
  {{ bd-toggle-favorite stop=stop class="stop-item__toggle-favorite" }}
  <h1 class="list-item__title truncate">{{stop.name}}<small class="light">{{stop.direction}}</small></h1>
{{/link-to}}
