<form {{action "search" on="submit"}} class="search__form ">
  {{input value=currentQuery placeholder="Search for stops by street name" class="search__query" autofocus=autofocus}}
  <button type="submit" class="button search__submit">
    <i class="bd-icon bd-icon--search"></i>
  </button>
</form>
