{{#link-to 'stop' stop class="list-item"}}
  {{bd-toggle-favorite stop=stop class="stop-item__toggle-favorite"}}
  <h1 class="list-item__title">{{stop.name}} <small>{{stop.direction}}</small></h1>
  <div class="list-item__details">
    {{#each stop.routes as |route|}}
      {{bd-route-tag route=route}}
    {{/each}}
  </div>
{{/link-to}}
