<form {{action "search" on="submit"}} class="search__form ">
  {{input value=currentQuery placeholder="Street Name" class="search__query"}}
  <button type="submit" class="bd-button search__submit">
    <i class="bd-icon bd-icon--search"></i>
  </button>
</form>
