<div class="stop-item">
  {{#link-to 'arrivals' stop.id class="stop-item__content"}}
    {{stop.name}}
  {{/link-to}}
  <div {{action 'toggleFavorite' stop}} class="stop-item__action">
    {{fa-icon (if isFavorite 'star' 'star-o')}}
  </div>
</div>
