@import 'variables';
@import 'font';
@import 'utils';
@import 'bd-icons';
@import 'components/rt-arrival';
@import 'components/well';
@import 'components/page-title';
@import 'components/stop-item';
@import 'components/rt-tabs';
@import 'components/text-field';
@import 'components/button';
@import 'components/input-group';
@import 'components/action-banner';
@import 'components/map-header';
@import 'components/tag';
@import 'components/detail-header';
@import 'components/timeline';
@import 'components/list';



* {
  box-sizing: border-box;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: darken($link-color, 10);
  }
}
