.push {
  margin: 15px;
}

.push-bottom {
  margin-bottom: 15px;
}

.push-sides {
  margin-left: 15px;
  margin-right: 15px;
}

.flush-top {
  margin-top: 0;
}

.unstyled-list {
  padding-left: 0;
  list-style: none;
}

.soft-sides {
  padding-left: 15px;
  padding-right: 15px;
}

.pull-top {
  margin-top: -15px;
}

.text-center {
  text-align: center;
}

@mixin clearfix() {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.clearfix {
  @include clearfix()
}
