.section {
  padding-bottom: $padding * 2;
}

.light {
  color: $bd-gray;
}

.push {
  margin: $padding * 1.5;
}

.push-bottom {
  margin-bottom: $padding * 1.5;
}

.push-sides {
  margin-left: $padding * 1.5;
  margin-right: $padding * 1.5;
}

.flush-top, .flush--top {
  margin-top: 0;
}

.unstyled-list {
  padding-left: 0;
  list-style: none;
}

.soft-sides {
  padding-left: $padding * 1.5;
  padding-right: $padding * 1.5;
}

.pull-top {
  margin-top: -$padding * 1.5;
}

.text-center, .text--center {
  text-align: center;
}

.text--invert {
  color: #fff
}

.pull--left {
  float: left;
}

.pull--right {
  float: right;
}

.bg-primary {
  background-color: $bd-blue;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unstyled {
  color: $bd-dark-gray;
}

@mixin clearfix() {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.clearfix {
  @include clearfix()
}
