// -------------- \\
// --- COLORS --- \\
// -------------- \\

$bd-blue: #48A0DC;
$bd-green: #88C057;
$bd-purple: #9B7CAB;
$bd-red: #ED7161;

$bd-dark-gray: #4D4D4D;
$bd-gray: #7F7F7F;
$bd-light-gray: #BFBFBF;


// --------------- \\
// --- DISPLAY --- \\
// --------------- \\

$padding: 10px;
$border-radius: 2px;
$box-shadow: 0px 2px 2px transparentize($bd-dark-gray, 0.75);


// --- ORIGINAL --- \\
$primary-color: #0094BA;
$secondary-color: #FF7B00;

$link-color: darken($primary-color, 10);
