<div class="timeline">
  {{#each model as |departure|}}
    {{bd-departure departure=departure class="timeline__event"}}
  {{else}}
    <p class="text-center">No departures found</p>
  {{/each}}
</div>
