.action-banner {
  @include clearfix;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: $padding;
}

.action-banner--search {
  position: fixed;
  background-color: #FFF;
  box-shadow: 0 0px 2px 2px transparentize($bd-dark-gray, 0.85);
  .search-bar {
    width: calc(100% - 40px);
    margin: 0;
    & > input {
      opacity: 1;
      padding: 0 $padding;
      width: calc(100% - 40px);
      box-shadow: none;
    }
  }
  .bd-button {
    box-shadow: none;
  }
  .button--return {
    color: $bd-blue;
    background-color: transparent;
  }
}
