.action-banner {
  @include clearfix;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: $padding;
  & > .bd-button:not(.button--return) {
    float: right;
  }
}

.action-banner--fixed-top {
  position: fixed;
  background-color: #FFF;
  box-shadow: 0 0px 2px 2px transparentize($bd-dark-gray, 0.85);
  z-index: 10;
  .search {
    float: right;
    width: calc(100% - 50px);
  }
  .search__query {
    box-shadow: none;
  }
  .bd-button {
    box-shadow: none;
  }
}
