.detail-header {
  padding: $padding;
  box-shadow: 0 0px 2px 2px transparentize($bd-dark-gray, 0.85);
}

.detail-header__title {
  font-size: 26.66px;
  line-height: 47px;
  margin: 0;
}

.deatil-header__distance {
  float: right;
  line-height: 20px;
  color: $bd-gray;
}