.map-header {
  width: 100%;
  // based on the golden ratio
  height: 30.52vh;
  // size of the action banner that overlays the map
  min-height: 60px;
  // 30.52% of the web view on iPhone 6
  max-height: 195px;
  background-color: $bd-light-gray;
}

.map-canvas {
  height: 100%;
  width: 100%;
}
