.nav--fixed-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  padding: $padding;
  .bd-button {
    width: calc(50% - 5px);
    height: 100%;
    padding-top: ($padding / 2);
    line-height: 1.5;
    color: $bd-blue;
    box-shadow: $box-shadow, 0 1px 2px #FFF inset;
    &:first-of-type {
      margin-right: $padding;
    }
    .bd-icon {
      display: block;
      font-size: 28px;
    }
  }
}

