.rt-tabs {
  position: fixed;
  top: 0;
  width: 100%;
}

.rt-tabs__navigated-content {
  padding-top: 34px;
}

.rt-tabs__tab {
  width: 33.33%;
  display: block;
  float: left;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 7px;
  text-decoration: none;
  background-color: #eee;
  border-top: 3px solid #ddd;

  &.active {
    background-color: white;
    border-color: $secondary-color;
  }
}
