<div class="action-banner action-banner--search">
  <div class="search-bar">
    <a href="#" class="bd-button">
      <i class="bd-icon bd-icon--search"></i>
    </a>
    <input type="text" title="search_input" placeholder="Search" class="search-bar__text-field">
  </div>
</div>

<div class="list">
  <section class="section">
    <h2 class="light">
      <i class="bd-icon bd-icon--heart"></i>
      Favorite Stops
    </h2>
    {{#each favoriteStops.all as |stop|}}
      {{rt-stop stop=stop}}
    {{/each}}
  </section>

  <section class="section">
    <h2 class="light">
      <i class="bd-icon bd-icon--pin"></i>
      Stops Near You
    </h2>
    {{#each stops as |stop|}}
      {{rt-stop stop=stop}}
    {{/each}}
  </section>
</div>
