<div class="list">
  <section class="section">
    <h2 class="light">
      <i class="bd-icon bd-icon--pin"></i>
      Stops Near You
    </h2>
  </section>

  <section class="well messaging">
    <p>
    The Bus Detective is lost without his trusty GPS.
    </p>
    <p>
    Help him out. To use this feature, change your settings to allow the browser or app to access your current location.
    </p>
    <p>
    In the meantime, go back to the {{#link-to 'home'}}homepage{{/link-to}} or your {{#link-to 'stops.favorites'}}favorites{{/link-to}}.
    </p>
  </section>
</div>

