<div class="list">
  <section class="section">
    <h2 class="light">
      <i class="bd-icon bd-icon--search"></i>
      Search results 
    </h2>
    {{#if isLoading}}
      <p class="text-center">Loading stops...</p>
    {{else}}
      {{#each model.results as |stop|}}
        {{bd-stop stop=stop}}
      {{else}}
        <p class="text-center">No stops found</p>
      {{/each}}
    {{/if}}
  </section>
</div>
