<form {{action "search" on="submit"}} class="soft-sides">
  {{input value=nameField placeholder="Street Name"}}
  <button type="submit">Search</button>
</form>

{{#each model.stops as |stop|}}
  <div class="stop-item">
    {{#link-to 'arrivals' stop.stop_id class="stop-item__content"}}
      {{stop.stop_name}}
    {{/link-to}}
    <div class="stop-item__action">
      {{fa-icon "star-o"}}
    </div>
  </div>
{{/each}}
