<form {{action "search" on="submit"}} class="push-sides">
  <div class="input-group">
    {{input value=nameField placeholder="Street Name" class="text-field"}}
    <div class="input-group__button">
      <button type="submit" class="button">Search</button>
    </div>
  </div>
</form>

{{#each stops as |stop|}}
  {{rt-stop stop=stop}}
{{/each}}
