<section class="push text-center">
  <h1 class="push--bottom">Sorry, but the page you're looking for could not be found.</h1>
  {{fa-icon "frown-o" size=5}}
  <div class="push">
    {{#link-to 'home'}}home{{/link-to}}
  </div>
</section>
