<div class="bg-primary height-full">
  {{#link-to 'home' class="button push-10"}} <i class="bd-icon bd-icon--arrow-left"></i> {{/link-to}}
  <div class="pad">
    <div class="text-center clear">
      <div class="hero-header pull-top pull-bottom">
        <div class="hero-header__image">
          <img src="/images/gaslight-logo-150.png">
        </div>
      </div>
    </div>
    <div class="text-center text--invert">
      <p>
        Gaslight is an agile software development shop in Cincinnati. Need help
        building an app?
      </p>
      <a class="button-large unstyled" href="mailto:hello@teamgaslight.com"><i class="bd-icon bd-icon--mail"></i>Email hello@teamgaslight.com</a>

      <p>
        Questions about Bus Detective?
      </p>
      <a class="button-large" href="mailto:hi@busdetective.com">Email hi@busdetective.com</a>
    </div>
  </div>
</div>
