<div>
  {{bd-back-button action='goBack'}}
  <div class='text-center'>
    <img src="/images/gaslight-logo.png">
  </div>

  <p>
    Gaslight is an agile software development shop in Cincinnati. Need help
    building an app? Email <a href="mailto:hello@teamgaslight.com">hello@teamgaslight.com</a>
  </p>

  <p>
    Questions about Bus Detective? Email <a href="mailto:hi@busdetective.com">hi@busdetective.com</a>
  </p>
</div>
