<div class="landing-container">
  <div class="hero-header">
    <div class="hero-header__logo">
      <img src="/images/bus-detective-icon.png">
    </div>
  </div>

  <div class="action-banner">
    {{bd-search action="search"}}
    {{#link-to 'stops.nearby' class="nav__button button  push-top"}}<i class="bd-icon bd-icon--pin"></i>Nearby{{/link-to}}
  </div>


  <div class="list--home  push-sides">
    <section class="section">
      <h2 class="white">
        <i class="bd-icon bd-icon--heart"></i>
        Favorites
      </h2>
      <div class="list-item__container">
        <div class="unstyled  list-item">
          <button class="stop-item__toggle-favorite toggle-favorite toggle-favorite--favorite">
            <i class="bd-icon bd-icon--heart"></i>
          </button>
          <h1 class="list-item__title  truncate">Walnut St & 8th St This is a really long stop name</h1>
        </div>

        <div class="unstyled  list-item">
          <button class="stop-item__toggle-favorite toggle-favorite toggle-favorite--favorite">
            <i class="bd-icon bd-icon--heart"></i>
          </button>
          <h1 class="list-item__title  truncate">Walnut St & 8th St</h1>
        </div>

        <div class="unstyled  list-item">
          <button class="stop-item__toggle-favorite toggle-favorite toggle-favorite--favorite">
            <i class="bd-icon bd-icon--heart"></i>
          </button>
          <h1 class="list-item__title  truncate">Walnut St & 8th St</h1>
        </div>

        <div class="unstyled  list-item">
          <button class="stop-item__toggle-favorite toggle-favorite toggle-favorite--favorite">
            <i class="bd-icon bd-icon--heart"></i>
          </button>
          <h1 class="list-item__title  truncate">Walnut St & 8th St</h1>
        </div>

        <div class="unstyled  list-item">
          <button class="stop-item__toggle-favorite toggle-favorite toggle-favorite--favorite">
            <i class="bd-icon bd-icon--heart"></i>
          </button>
          <h1 class="list-item__title  truncate">Walnut St & 8th St</h1>
        </div>
      </div>

    </section>
  </div>

  <div class="nav nav--fixed-bottom">
    {{#link-to 'about' class='nav__attribution'}}
      <img src="/images/gaslight-icon.png"/><span>Made with love by Gaslight</span>
    {{/link-to}}
  </div>
</div>
