<div class="landing-container">
  <div class="hero-header">
    <div class="hero-header__logo">
      <img src="../images/bus-detective-icon.png">
    </div>
  </div>

  <div class="action-banner">
    <div class="search-bar">
      <a href="#" class="bd-button">
        <i class="bd-icon bd-icon--search"></i>
      </a>
      <input type="text" title="search_input" placeholder="Search by street name" class="search-bar__text-field">
    </div>
  </div>  

  <div class="nav">
    <a class="bd-button"><i class="bd-icon bd-icon--pin"></i>Nearest Stops</a><a class="bd-button"><i class="bd-icon bd-icon--heart"></i>Favorite Stops</a>
  </div>
</div>