<div class="landing-container">
  <div class="hero-header">
    <div class="hero-header__logo">
      <img src="../images/bus-detective-icon.png">
    </div>
  </div>

  <div class="action-banner">
    {{bd-search action="search"}} 
  </div>  

  <div class="nav">
    {{#link-to 'stops.near-by' class="bd-button"}}<i class="bd-icon bd-icon--pin"></i>Nearest Stops{{/link-to}}<!--
    -->{{#link-to 'stops.favorites' class="bd-button"}}<i class="bd-icon bd-icon--heart"></i>Favorite Stops{{/link-to}}
  </div>
</div>
