<div class="landing-container">
  <div class="hero-header">
    <div class="hero-header__logo">
      <img src="/images/bus-detective-icon.png">
    </div>
  </div>

  <div class="action-banner">
    {{bd-search action="search"}}
    {{#link-to 'stops.nearby' class="nav__button button  push-top"}}<i class="bd-icon bd-icon--pin"></i>Nearby{{/link-to}}
  </div>


  <div class="list--home  push-sides">
    <section class="section push-top">
      <h2 class="white pull--left">
        <i class="bd-icon bd-icon--heart"></i>
        Favorites
      </h2>
      {{#link-to 'stops.favorites'}}
      <h2 class="pull--right button--small push-top-5">View All</h2>
      {{/link-to}}
      <div class="clear">
        <div class="list-item__container">
          {{#sortable-group tagName="div" onChange="reorderFavorites" as |group|}}
            {{#each topFavorites as |stop|}}
              {{#sortable-item tagName="div" model=stop group=group handle=".handle"}}
                {{ bd-quick-favorite stop=stop }}
              {{/sortable-item}}
            {{/each}}
          {{/sortable-group}}

          {{#unless topFavorites }}
            <div class="text-center white shove-top">Hit the heart icon on your favorite bus stops, and they’ll show up right here.
            </div>
          {{/unless}}
        </div>
      </div>
    </section>
  </div>

  <div class="nav nav--fixed-bottom">
    {{#link-to 'about' class='nav__attribution'}}
      <img src="/images/gaslight-icon.png"/><span>Made with love by Gaslight</span>
    {{/link-to}}
  </div>
</div>
