<div class="action-banner">
  <a href="#" title="back" class="bd-button button--return">
    <i class="bd-icon bd-icon--arrow-left"></i>
  </a>

  <div class="search-bar">
    <input type="text" title="search_input" placeholder="Search" class="search-bar__text-field">
    <a href="#" class="bd-button">
      <i class="bd-icon bd-icon--search"></i>
    </a>
  </div>

  <a href="#" class="bd-button">
    <i class="bd-icon bd-icon--heart-o"></i>
  </a>
</div>

<div class="map-header"></div>

<div class="detail-header">
  <h1 class="detail-header__title">
    <span class="tag tag--blue"> 11 </span>
    Oakley - Madison
  </h1>
  <div class="detail-header__details">
    <span class="deatil-header__location"> 
      <i class="bd-icon bd-icon--pin"></i>
      8th + Walnut
    </span>
    <span class="deatil-header__distance"> 
      <i class="bd-icon bd-icon--walk"></i>
      0.5mi
    </span>
  </div>
</div>

<div class="timeline">
  {{!-- PAST EVENT --}}
  <div class="timeline__event event--past">
    <div class="event__time"> 12:25p </div>
    <div class="event__marker"></div>
    <div class="event__event-details">
      <p> 8th + Broadway </p>
      <div class="event-details__metadata">
        <span class="metadata__time">
          <i class="bd-icon bd-icon--clock"></i>
          5m ago
        </span>
        <span class="metadata__distance">
          <i class="bd-icon bd-icon--walk"></i>
          0.8mi
        </span>
      </div>
    </div>
  </div>
  {{!-- CURRENT EVENT --}}
  <div class="timeline__event event--current">
    <div class="event__time"> 12:30p </div>
    <div class="event__marker"></div>
    <div class="event__event-details">
      <p> 8th + Walnut </p>
      <div class="event-details__metadata">
        <span class="metadata__time">
          <i class="bd-icon bd-icon--clock"></i>
          now
        </span>
        <span class="metadata__distance">
          <i class="bd-icon bd-icon--walk"></i>
          0.5mi
        </span>
      </div>
    </div>
  </div>
  {{!-- FUTURE EVENT --}}
  <div class="timeline__event">
    <div class="event__time"> 12:45p </div>
    <div class="event__marker"></div>
    <div class="event__event-details">
      <p> Government Square </p>
      <div class="event-details__metadata">
        <span class="metadata__time">
          <i class="bd-icon bd-icon--clock"></i>
          15m
        </span>
        <span class="metadata__distance">
          <i class="bd-icon bd-icon--walk"></i>
          0.7mi
        </span>
      </div>
    </div>
  </div>
  {{!-- FUTURE EVENT --}}
  <div class="timeline__event">
    <div class="event__time"> 1:00p </div>
    <div class="event__marker"></div>
    <div class="event__event-details">
      <p> Main + 7th </p>
      <div class="event-details__metadata">
        <span class="metadata__time">
          <i class="bd-icon bd-icon--clock"></i>
          30m
        </span>
        <span class="metadata__distance">
          <i class="bd-icon bd-icon--walk"></i>
          0.4mi
        </span>
      </div>
    </div>
  </div>
  {{!-- FUTURE EVENT --}}
  <div class="timeline__event">
    <div class="event__time"> 1:10p </div>
    <div class="event__marker"></div>
    <div class="event__event-details">
      <p> 7th + Sycamore </p>
      <div class="event-details__metadata">
        <span class="metadata__time">
          <i class="bd-icon bd-icon--clock"></i>
          40m
        </span>
        <span class="metadata__distance">
          <i class="bd-icon bd-icon--walk"></i>
          0.8mi
        </span>
      </div>
    </div>
  </div>
</div>
