<div class="action-banner action-banner--search">
  <div class="search-bar">
    <a href="#" class="bd-button">
      <i class="bd-icon bd-icon--search"></i>
    </a>
    <input type="text" title="search_input" placeholder="Search" class="search-bar__text-field">
  </div>
</div>

{{outlet}}
