<div class="action-banner action-banner--search">
  <div class="search-bar">
    <a href="#" class="bd-button">
      <i class="bd-icon bd-icon--search"></i>
    </a>
    <input type="text" title="search_input" placeholder="Search" class="search-bar__text-field">
  </div>
</div>

<div class="list">
  <section class="section">
    <h2 class="light"> 
      <i class="bd-icon bd-icon--heart"></i>
      Favorite Stops 
    </h2>
    <div class="list-item">
      <h1 class="list-item__title">7th + Walnut</h1>
      <div class="list-item__details">
        <span class="tag tag--blue"> 11 </span>
        <span class="tag tag--green"> 12x </span>
        <span class="tag tag--purple"> 17 </span>
        <span class="tag tag--red"> 74x </span>
        <span class="list-item__distance"> 
          <i class="bd-icon bd-icon--walk"></i>
          0.5mi
        </span>
      </div>
    </div>
    <div class="list-item">
      <h1 class="list-item__title">7th + Walnut</h1>
      <div class="list-item__details">
        <span class="tag tag--blue"> 11 </span>
        <span class="tag tag--green"> 12x </span>
        <span class="tag tag--purple"> 17 </span>
        <span class="tag tag--red"> 74x </span>
        <span class="list-item__distance"> 
          <i class="bd-icon bd-icon--walk"></i>
          0.5mi
        </span>
      </div>
    </div>
    <div class="list-item">
      <h1 class="list-item__title">7th + Walnut</h1>
      <div class="list-item__details">
        <span class="tag tag--blue"> 11 </span>
        <span class="tag tag--green"> 12x </span>
        <span class="tag tag--purple"> 17 </span>
        <span class="tag tag--red"> 74x </span>
        <span class="list-item__distance"> 
          <i class="bd-icon bd-icon--walk"></i>
          0.5mi
        </span>
      </div>
    </div>
  </section>

  <section class="section">
    <h2 class="light"> 
      <i class="bd-icon bd-icon--pin"></i>
      Stops Near You
    </h2>
    <div class="list-item">
      <h1 class="list-item__title">7th + Walnut</h1>
      <div class="list-item__details">
        <span class="tag tag--blue"> 11 </span>
        <span class="tag tag--green"> 12x </span>
        <span class="tag tag--purple"> 17 </span>
        <span class="tag tag--red"> 74x </span>
        <span class="list-item__distance"> 
          <i class="bd-icon bd-icon--walk"></i>
          0.5mi
        </span>
      </div>
    </div>
    <div class="list-item">
      <h1 class="list-item__title">7th + Walnut</h1>
      <div class="list-item__details">
        <span class="tag tag--blue"> 11 </span>
        <span class="tag tag--green"> 12x </span>
        <span class="tag tag--purple"> 17 </span>
        <span class="tag tag--red"> 74x </span>
        <span class="list-item__distance"> 
          <i class="bd-icon bd-icon--walk"></i>
          0.5mi
        </span>
      </div>
    </div>
    <div class="list-item">
      <h1 class="list-item__title">7th + Walnut</h1>
      <div class="list-item__details">
        <span class="tag tag--blue"> 11 </span>
        <span class="tag tag--green"> 12x </span>
        <span class="tag tag--purple"> 17 </span>
        <span class="tag tag--red"> 74x </span>
        <span class="list-item__distance"> 
          <i class="bd-icon bd-icon--walk"></i>
          0.5mi
        </span>
      </div>
    </div>
  </section>
</div>