<div class="action-banner action-banner--fixed-top">
  {{#link-to 'home' class="bd-button button--return"}}
    <i class="bd-icon bd-icon--arrow-left"></i>
  {{/link-to}}
  {{bd-search action="search"}}
</div>

{{outlet}}
