<h1 class="page-title flush-top">Bus Stops</h1>

{{outlet}}

<nav class='rt-tabs'>
  {{#link-to 'stops.search' class='rt-tabs__tab'}}
    Search
  {{/link-to}}

  {{#link-to 'stops.favorites' class='rt-tabs__tab'}}
    Favorites
  {{/link-to}}
</nav>
