<h1 class="page-title">Bus Stops</h1>

<div class="rt-tabs__navigated-content">
  {{outlet}}
</div>

<nav class='rt-tabs'>
  {{#link-to 'stops.search' class='rt-tabs__tab'}}
    Search
  {{/link-to}}

  {{#link-to 'stops.favorites' class='rt-tabs__tab'}}
    Favorites
  {{/link-to}}
</nav>
